.dark-mode {
    background-color: #252525;
    color: white;
    --my-color: #C17E1F;
    --bg-color2: rgba(0, 0, 0, 0.541);
    --nav-bg: #000000;
    --nav-color: rgb(255, 255, 255);

    .section-4 .contant .data span {
        color: #fff;
    }

    .section-2 .contener .card p {
        color: #fff;
    }

    .section-2 .contener .card {
        color: #fff;
        background-color: #252525;
    }

    .section-4 .contant .data h3 {
        color: #fff
    }

    .contant .btn .two {
        background-color: #252525;
        color: #ffff;
    }

    .section-2 {
        background-color: #202020;
    }

    .section-3 {
        background-color: #252525;
    }

    .section-4 {
        background-color: #202020;
    }
}