.back {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: 100px;
    background-image: url(../img/baked.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

nav {
    position: absolute;
    top: 8px;
    width: 98%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

nav .pict {
    float: left;
    width: 25%;
    height: min-content;
}

nav .navbar {
    width: 75%;
    display: inline-block;
    margin-top: 1%;

}

nav .navbar ul {
    margin-left: 15%;
    list-style-type: none;
}

nav .navbar ul .location {
    margin-left: 6%;
}

nav .navbar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

nav .navbar li a:hover {
    color: aquamarine;
}

nav .navbar ul li {
    display: inline;
    font-size: 27px;
}

.contener {
    background-image: url(../img/drew-coffman-1872.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 800px;
    /* font-family: 'Alegreya', serif; */
    font-weight: 500;
    font-size: 30px;
}

.welcome {
    text-align: center;
    color: aliceblue;
    position: relative;
    top: 39%;
}

.contener .header {
    color: aliceblue;
    text-align: center;
    position: relative;
    top: 36%;

}

.poi {
    color: aliceblue;
    position: relative;
    text-align: center;
    top: 35%;
    size: 30px;
}

.button {
    text-align: center;
    position: relative;
    top: 40%;
}

.button a {
    size: 20px;
    color: aliceblue;
    text-decoration: none;
    border: solid white 1px;
    padding: 5px;
    margin: 15px;
}

.button .a2 {
    background-color: rgba(224, 104, 6, 0.474);
}

.button a:hover {
    background-color: aliceblue;
    color: black;
    transition: all 0.25s;
}

.a2:hover {
    background-color: aliceblue;
    color: black;
}

.contener2 {
    width: 100%;
    height: 500px;
    margin-top: 10%;
    overflow: hidden;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 21px;
}

img {
    width: 100%;
}

.contener2 .contant {
    width: 50%;
    display: inline-block;
    position: relative;
    left: 160px;
    overflow: hidden;
    height: max-content;
}

.contener2 .image {
    width: 35%;
    display: inline-block;
    position: relative;
    left: 5%;
    bottom: 40px;
    border: solid goldenrod;
    overflow: hidden;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.contant .icons {
    height: max-content;
    width: 50px;
    display: inline-block;
    vertical-align: super;
}

.contant .icon {
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.icon-selsct {
    margin-top: 30px;
}

.min-cont {
    display: inline-block;
    position: relative;
    top: -21px;
}

.min-cont ul {
    list-style-type: none;
    margin-top: -5px;
}

.min-cont ul li {
    padding: 0 10px 24px 0;
}

.min-cont ul .l {
    margin-top: 22px;
}

.contener3 {
    width: 100%;
    height: 450px;
    margin-top: 10%;
    overflow: hidden;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 25px;
}

.contener3 .image {
    width: 40%;
    display: inline-block;
    position: relative;
    left: 54%;
    top: 0%;
    border: solid goldenrod;
    overflow: hidden;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.contener3 .contant {
    width: 50%;
    display: inline-block;
    position: absolute;
    left: 1%;
    overflow: hidden;
    height: max-content;
    text-align: center;
}

.contener3 .contant p {
    margin-top: 70px;
}

.contener4 {
    width: 100%;
    height: max-content;
    margin-top: 6%;
    overflow: hidden;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 30px;
}

.contener4 .header {
    text-align: center;
    text-align: center;
}

.contener4 .child {
    text-align: center;
    height: max-content;
    display: inline-block;
    overflow: hidden;
    width: calc(100% /3 - 6%);
    margin-left: 5%;
    margin-top: 10%;
}

.contener4 .child img {
    border-radius: 5%;
}

.contener5 {
    width: 100%;
    height: 500px;
    margin-top: 6%;
    overflow: hidden;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 20px;
}

.contener5 .map {
    float: right;
}

.contener5 .information {
    width: 500px;
    margin-left: 5%;
    overflow: hidden;
}

.contener5 .information span {
    size: 40px;
}

.information .icons {
    width: max-content;
    margin-top: 5%;
    float: left;
}

.information .ul {
    margin-top: 5%;
    margin-left: 8%;
}

.information .ul ul {
    list-style-type: none;
    padding-top: 8px;
}

.information .ul ul .l {
    padding-top: 35px;
}

.contener6 {
    width: 100%;
    height: 800px;
    margin-top: 6%;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 16px;
}

.contener6 .top {
    background-color: rgb(64, 61, 56);
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.contener6 .top .cont {
    float: left;
    width: calc(100%/4 - 2%);
    margin-left: 2%;
    color: rgb(124, 123, 121);
}

.contener6 .top .cont h2 {
    color: antiquewhite;
}

.contener6 .top .cont p {
    line-height: 1.86em;
    size: 16px;
    display: inline-block;
}

.contener6 .top .cont .hr {
    display: block;
    margin-left: 2%;
    width: 80%;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.655);
}

.contener6 .top .cont img {
    width: max-content;
    height: 40px;
    margin-bottom: -10px;
}

.cont a {
    text-decoration: none;
    color: #7C7B79;
    display: inline-block;
    position: relative;
    padding: 10px 10px;

}

.cont a:hover {
    color: aliceblue;
    transition: 0.5s;
}

.contener6 .down {
    background-color: #353330;
    width: 100%;
    height: 50%;
}

.down .backrey {
    width: 35%;
    height: auto;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.down p {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(250, 235, 215, 0.413);
    text-align: center;
}

.down .pic {
    width: 16%;
    height: max-content;
    position: relative;
    top: 30%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down .pic .imge {
    float: left;
    width: calc(100%/4);
}